@model ReflectionIT.Mvc.Paging.PagingList<VmProduct>
@using ReflectionIT.Mvc.Paging
@inject NewKarma.Tools.ConvertDate dconvert;
@addTagHelper*,ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "مدیریت قطعات";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">@ViewData["Title"]</div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> جستجو</button>
                                </span>
                                <input id="input-group-1" name="title" class="form-control" placeholder="عنوان قطعه را وارد کنید ..." type="text">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row form-group">
                                <label class="ml-2">تعداد ردیف</label>
                                <div class="col-md-4  padding-0px">
                                    <select class="select2" name="row" asp-items="@ViewBag.RowID"></select>
                                </div>
                                <div class="col-md-3 padding-0px">
                                    <input type="submit" value="نمایش بده" class="btn btn-primary float-left" />
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.Search != "")
                        {
                            <div class="col-md-4">
                                <a asp-action="Index" class="float-left"><i class="fa fa-arrow-circle-left"></i>  بازگشت به لیست قطعات ها   </a>
                            </div>
                        }
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr class="text-center">
                                <th>ردیف</th>
                                <th>@Html.SortableHeaderFor(model => model.Title, "Title")</th>
                                <th>@Html.SortableHeaderFor(model => model.CarName, "CarName")</th>
                                <th>@Html.SortableHeaderFor(model => model.CategoryName, "CategoryName")</th>
                                <th>@Html.SortableHeaderFor(model => model.BrandName, "BrandName")</th>
                                <th>@Html.SortableHeaderFor(model => model.Situation, "Situation")</th>
                                <th class="text-center">@Html.SortableHeaderFor(model => model.CreatedDate, "CreatedDate")</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = ViewBag.NumOfRow;}
                            @foreach (var item in Model)
                            {
                            <tr class="text-center">
                                <td class="text-center">@i</td>
                                <td class="text-nowrap">@item.Title</td>
                                <td>@item.CarName</td>
                                <td>@item.CategoryName</td>
                                <td>@item.BrandName</td>
                                <td class="text-center">
                                    @if (item.Situation == true)
                                    {
                                        <label class="badge badge-success btn-block">منتشر شده</label>
                                    }

                                    else
                                    {
                                        <label class="badge badge-info btn-block">پیش نویس</label>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (item.CreatedDate != null)
                                    {
                                        @dconvert.ConvertMiladiToShamsi((DateTime)item.CreatedDate, "yyyy/MM/dd HH:mm:ss")
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </td>

                                <td class="text-center">
                                    <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-success btn-icon"><i class="fa fa-edit text-white"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger btn-icon"><i class="fa fa-trash text-white"></i></a>
                                </td>
                            </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                    <nav>
                        @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
